<!-- Canvas -->

    <!--Bootstrap3+Material class-->
    <div class="navbar navbar-default" style="padding-top:20px; z-index:10;background-color:transparent;overflow-x:auto;">
        <!--overflow and margin used to enable up coverup/hide scrollbar-->

        <!--<div class="navbar-brand">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>{{ message }}
        </div>-->

        <div class="palette-case" style="width:498px">

            <!--Pick drawing tool-->
            <!--<div id="pen" style="float:left" ng-click="choosePen()" aria-label="select pen tool">
                <div class="svgicon new"></div>
                <div>pen</div>
            </div>
            <div id="eraser" class="palette3" ng-click="chooseEraser()" aria-label="select eraser tool">
                <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>eraser
            </div>-->

            <button type="button" class="btn btn-default" style="box-shadow:none;" ng-click="newCanvas()">
                <div class="svgicon new"></div>
            </button>
            <button id="penicon" type="button" class="btn btn-default" style="box-shadow:none;" ng-click="choosePen()">
                <div class="svgicon pen"></div>
            </button>
            <button id="brushicon" type="button" class="btn btn-default" style="box-shadow:none;" ng-click="chooseBrush()">
                <div class="svgicon brush"></div>
            </button>
            <button id="erasericon" type="button" class="btn btn-default" style="box-shadow:none;" ng-click="chooseEraser()">
                <div class="svgicon eraser"></div>
            </button>
            <!--<button type="button" class="btn btn-default" style="box-shadow:none;" ng-click="saveImage()">
                <div class="svgicon checkmark"></div>
            </button>
            <button type="button" class="btn btn-secondary" style="box-shadow:none;" ng-click="getPicture()">
                <div class="svgicon camera"></div>
            </button>
            <button type="button" class="btn btn-default" style="box-shadow:none" ng-click="uploadImage()">
                <div class="svgicon share"></div>
            </button>-->
        </div>
    </div>

    <!--HTML Canvas get inserted in here-->
    <div id="content"></div>

    <div class="navbar navbar-fixed-bottom" style="background-color:transparent; overflow-x:auto"> 
        <!--overflow and margin used to enable up coverup/hide scrollbar-->

    <!--Pick colors-->
    <div class="palette-case">
        <div class="palette red" ng-click="selectColor($event)"></div>
        <div class="palette blue" ng-click="selectColor($event)"></div>
        <div class="palette green" ng-click="selectColor($event)"></div>
        <div class="palette black" ng-click="selectColor($event)"></div>
        <div class="palette beige" ng-click="selectColor($event)"></div>
        <div class="palette yellow" ng-click="selectColor($event)"></div>
        <div class="palette orange" ng-click="selectColor($event)"></div>
        <div class="palette brown" ng-click="selectColor($event)"></div>
        <div class="palette drkbrown" ng-click="selectColor($event)"></div>
        <div class="palette grey" ng-click="selectColor($event)"></div>
        <div class="palette ltblue" ng-click="selectColor($event)"></div>
        <div class="palette ltgreen" ng-click="selectColor($event)"></div>
        <div class="palette pink" ng-click="selectColor($event)"></div>
        <div class="palette purple" ng-click="selectColor($event)"></div>
        <div class="palette white" ng-click="selectColor($event)"></div>
        <div style="clear:both"></div>
    </div>

    <!--Pick size-->
    <div class="palette-case">
        <div id="5" class="palette2 smallpen" ng-click="selectSize($event)"></div>
        <div id="12" class="palette2 mediumpen" ng-click="selectSize($event)"></div>
        <div id="30" class="palette2 largepen" ng-click="selectSize($event)"></div>
        <div style="clear:both"></div>
    </div>
</div>

    <img id="imagegoeshere" style="position:absolute;top:600px" />


