<?xml version="1.0" encoding="utf-8"?>
<widget xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps" id="com.rockitshop.cordovapushnotification" version="1.0.0.0" xmlns="http://www.w3.org/ns/widgets">
  <name>Kidstagram</name>
  <description>Encourages computer use and introduces concepts of network sharing in a safe environment with parental controls.  For ages 5 and up.</description>
  <author href="http://cordova.io" email="dev@cordova.apache.org">Ryan West</author>
  <content src="index.html" />
  <access origin="https://service-poc.azure-mobile.net" />
  <access origin="http://rtwdevstorage.blob.core.windows.net" />
  <preference name="SplashScreen" value="screen" />
  <preference name="Orientation" value="portrait" />
  <preference name="Fullscreen" value="true" />
  <preference name="DisallowOverscroll" value="true" />
  <vs:plugin name="com.msopentech.azure-mobile-services" version="0.1.2" />
  <vs:plugin name="org.apache.cordova.camera" version="0.3.0" />
  <vs:plugin name="org.apache.cordova.device" version="0.2.10" />
  <vs:plugin name="org.apache.cordova.dialogs" version="0.2.8" />
  <vs:plugin name="org.apache.cordova.file" version="1.2.0" />
  <vs:plugin name="org.apache.cordova.inappbrowser" version="0.5.0" />
  <vs:plugin name="org.apache.cordova.splashscreen" version="0.3.1" />
  <vs:plugin name="org.apache.cordova.camera" version="0.3.2" />
  <vs:plugin name="org.apache.cordova.device" version="0.2.12" />
  <vs:plugin name="com.msopentech.azure-mobile-services" version="0.1.4" />
  <vs:plugin name="org.apache.cordova.inappbrowser" version="0.5.2" />
  <vs:platformSpecificValues />
</widget>