

.svgicon {
    background-image: url('../images/kidstagramicons.svg');
    background-repeat: no-repeat;
    /*background-size: 1800px 100px; /* actual size at 640 - 2x */
    background-size: 900px 50px; /* actual size at 320 = 1x */
}
.svgiconbig {
    background-image: url('../images/kidstagramicons.svg');
    background-repeat: no-repeat;
    /*background-size: 1800px 100px; /* actual size at 640 - 2x */
    background-size: 1800px 100px; /* actual size at 320 = 1x */
}
.svgicon.new {
    background-position: -4px -3px; /*This was trial and error*/
    width: 28px; 
    height: 37px;
}

.svgicon.checkmark {
    background-position: -505px -1px; 
    width: 28px; 
    height: 32px;
}
.svgicon.camera {
    background-position: -544px -2px; 
    width: 28px; 
    height: 32px;
}
.svgicon.share {
    background-position: -626px -2px; 
    width: 60px; 
    height: 32px;
}
.svgicon.pen {
    background-position: -200px -2px; 
    width: 31px; 
    height: 32px;
}
.svgicon.brush {
    background-position: -155px -2px; 
    width: 32px; 
    height: 32px;
}
.svgicon.eraser {
    background-position: -112px -2px; 
    width: 30px; 
    height: 32px;
}
.selected {
    border:2px solid #ddd !important;
}
